@import "tailwindcss";

:root {
  --background: #f9fafb;
  --content: #18181b;

  --primary: #21496a;
  --secondary: #ffb51b;
  --accent: #1e5bd7;

  --about-primary: #466883;
  --about-secondary: #dbbc78;
  --about-accent: #6386cd;

  --on-primary: #f9fafb;
  --on-secondary: #18181b;
  --on-accent: #f9fafb;

  --on-about-primary: #f9fafb;
  --on-about-secondary: #18181b;
  --on-about-accent: #f9fafb;
}

@theme inline {
  --font-display: var(--font-figtree);
  --font-body: var(--font-manrope);

  --color-background: var(--background);
  --color-content: var(--content);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);
  --color-on-accent: var(--on-accent);

  --color-about-primary: var(--about-primary);
  --color-about-secondary: var(--about-secondary);
  --color-about-accent: var(--about-accent);
  --color-on-about-primary: var(--on-about-primary);
  --color-on-about-secondary: var(--on-about-secondary);
  --color-on-about-accent: var(--on-about-accent);
}

@layer base {
  body {
    margin: 0;
    background-color: var(--background);
    color: var(--content);
  }
}
